body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}

button:hover {
  background-color: #444;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}